body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: monospace;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.square {
  border-radius: 1em;
  background-color: white;
}

.landscape {
  width: 5vw;
  height: 5vw;
}

.portrait {
  width: 5vh;
  height: 5vh;
}

.logo {
  position: absolute;
}

.outline {
  stroke: white;
  fill: none;
}

.filled {
  fill: white;
}

.content {
  position: absolute;
  text-align: center;
  color: white;
}
